.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 400px;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-page h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #e38787;
  text-align: center;
}

.login-page form {
  font-size: 14px;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.login-page button {
  width: 100%;
  padding: 10px 20px;
  background-color: #e38787;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup-link {
  text-align: center;
}

.signup-link p {
  color: #e38787;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #45a049;
}
.signup-link p:hover {
  color: #45a049;
  text-decoration: underline;
}
